---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';
import type { ServiceItems as Props } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  items = [],

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-5xl ${classes?.container ?? ''}`} bg={bg}>
  <div class:list={['flex flex-col gap-4 md:gap-8']}>
    <div class:list={['md:py-4 md:self-center', 'w-full']}>
      <Headline
        title={title}
        subtitle={subtitle}
        tagline={tagline}
        classes={{
          container: 'rtl:text-right',
          title: 'text-4xl lg:text-5xl',
          ...((classes?.headline as object) ?? {}),
        }}
      />
      <div class="grid mx-auto gap-2 md:gap-y-3">
        {
          items.map(({ title, description, details, serviceType }) => (
            <div>
              {title && (<h3 class="text-2xl font-bold my-4 md:my-6">{title}</h3>)}
              {description && (<p class="text-lg">{description}</p>)}
              {details && (
                    <ul class="marker:text-accent list-inside list-disc ">
                    {details.map(
                        detail => (
                            <li class="text-lg" set:html={detail}>
                                
                            </li>)  
                    )}
                    </ul>
                )}
            </div>
            <div>
              {serviceType && (<h3 class="text-secondary dark:text-blue-200 font-bold">{serviceType}</h3>)}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</WidgetWrapper>
